<?xml version="1.0" encoding="utf-8" ?>  
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"  
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
      autoReload="true"  
      throwConfigExceptions="true">  
  
  <extensions>  
    <add assembly="NLog.Web.AspNetCore"/>  
  </extensions>  
    
  <targets>  
    <target name="console" xsi:type="Console" />
  
    <target xsi:type="File"  
        name="service"  
        archiveFileName = "logs/PostsService-{##}.log"  
        archiveAboveSize="5242880"  
        maxArchiveFiles = "10"  
        archiveNumbering="Rolling"  
        fileName="logs/PostsService.log"  
        encoding="utf-8"  
        layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} ${logger:shortName=true} - ${message}" />  
  
    <target xsi:type ="KafkaLogger"  
            name="kafka"             
            topic="service_logs"
            key="posts_service"
            layout="${message}"
            />     
     
  </targets>
  
  <rules>  
    <logger name="PostsService.*" minlevel="Trace" writeTo="service" />  
    <logger name="PostsService.*" minlevel="Trace" writeTo="kafka" />
    <logger name="PostsService.*" minlevel="Trace" writeTo="console" />
  </rules>  
</nlog>